body { 
  text-align: center;
  background-color: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}
#psst {
  font-size: 25px;
}
.title {
  line-height: 2em;
}
.decode {
  color: red;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}