html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  font-size: 10px;
  background:#ffc600;
}
h2 {
  text-align: center;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}
h2, p {
  color: white;
}
.photobooth-border {
  background:white;
  max-width:94rem;
  margin: 2rem auto;
  border-radius:2px;
}
.photobooth {
  background:white;
  max-width:90rem;
  margin: 2rem auto;
  border-radius:2px;
}
/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}
.photo {
  width:100%;
  float:left;
}
.player {
  visibility: hidden;
  position: absolute;
  top:20px;
  right: 20px;
  width:200px;
}
/*
  Strip!
*/
.strip { padding:2rem; }
.strip img {
  width:100px;
  overflow-x: scroll;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  background:white;
}
.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }

.camera {
  margin: auto;
  width: 50%;
}
.camera img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
/*.camera img:focus { outline: none; }*/
.camera img:hover { transform: scale(1.1); }

.controls-greenscreen, .controls-ghosting {
  float: right;
  position: relative;
  top:-50px;
}
select {
  background: rgb(177,20,50);
  color: white;
  font-size: 20px;
}
label {
  vertical-align: top;
}