html {
  background-image: url('images/18_05.jpg');
  background-size: cover;
}
html, body {
  height: 100%;
}
body {
  position: relative;
  text-align: center;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
}
h1 {
  border-bottom: 1px solid #000;
  padding-bottom: 0.5em;
  text-align: center;
}
h2 {
  font-size: 35px;
  font-weight: 300;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
li {
  list-style: none;
  margin: 0.33em;
  width: 12%;
}
li:hover {
  background: rgba(230, 230, 230, 1);
}
.wrap {
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid #ccc;
  margin: 2em auto 0;
  max-width: 80%;
  padding: 0 1em 1em;
}
#duration {
  font-size: 20px;
  font-weight: 600;
}